@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #FFE9D4;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;

}
header {
    border-bottom: 1px solid black;
    width: 100%;
    height: 380px;
    text-align: center;
}

header div.logo {
    width: 150px;
    margin: auto;
}

div.logo svg {
    margin: 40px 0 20px 0;

}

header > main {
    width:65%;
    margin: auto;
}

header > main > a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px;
}

.botao {
    background-color: #EC4D1B;
    border: 3px solid black;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px 55px;
    box-shadow: 5px 5px 2px black;

}

main {
    width: 100%;
}

#banner {

}
#section01 {
    border-bottom: 1px solid black;
    height: 1200px;
}

#section01 > #banner > svg {
    width: 100%;
    height: 400px;
    /* background-color: aqua; */
}
#section01 > h1 {
    padding: 0px 30px;
    font-size: 3.3em;
    font-weight: 900;
}
#section01 > h1 > strong {
    font-weight: 900;
    color: #EC4D1B;
}

#section01 > p {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 0px 30px;
    font-size: 1.5em;
    font-weight: 700;
}
#section01 > button {
    margin-left: 35px;
    padding: 15px 30px;
}

#section01 > #arrow-curve {
    text-align: right;
    margin: 35px 40px 0px 0px;
}


#section02 {
    padding: 0px 20px;
    border-bottom: 1px solid black;
    height: 2000px;
}

#artigos {
    position: relative;
    top: -150px;
    left: 10px;
}

#section article, .secao01, .secao03 {
    background-color: #EC4D1B;
}
#section article, .secao02, .secao04 {
    background-color: #FF9A3C;
    margin-left: 15px;
}

#section02 article {
    width: 90%;
    height: 400px;
    /* background-color: #EC4D1B; */
    margin-bottom: 35px;
    border: 2px solid black;
    box-shadow: 8px 8px black;
}
#section02 article img {
    width: 65px;
    padding: 30px 35px 0px;
}
#section02 article h3 {
    font-size: 1.8em;
    font-weight: 800;
    padding: 0px 35px;

}
#section02 article p {
    font-size: 1.4em;
    font-weight: 700;
    padding: 20px 35px;
}

#section02 article  .arrow-rigth {
    text-align: right;
    margin-top: 70px;
}




#section02 h1 {
    position: relative;
    top: -100px;
    text-align: center;
    font-size: 2.8em;
    font-weight: 900;
}
#section02 > h1 > strong {
    margin-top: 0px;
    font-weight: 900;
    color: #EC4D1B;
}
#section02 > button {
    position: relative;
    top: -70px;
    margin-left: 35px;
    padding: 15px 30px;

}