@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    background: linear-gradient(90deg, #FFE7D1 0%, #FFF2E6 100%);
    font-family: Arial, Helvetica, sans-serif;
}
body {
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;

}
header {
    border-bottom: 1px solid black;
    width: 100%;
    height: 328px;
    text-align: center;
}

header div.logo {
/*     width: 106px;
    height: 53px; */
    margin: auto;
}

div.logo img {
    margin: 40px 0 20px 0;

}

header > nav {
    /* width:65%;
    margin: auto; */
    display: grid;
    grid-template-columns: 1fr 1Fr;
}

header > nav > a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
    margin: 10px 30px;
}
header nav a:nth-child(2n -1){
    text-align: right;
}
header nav a:nth-child(2n){
    text-align: left;
}


.botao {
    display: inline-block;
    margin-top: 10px;
    background-color: #ED4D1B;
    border: 3px solid black;
    font-size: 1.25em;
    font-weight: bold;
    padding: 15px 55px;
    box-shadow: 4px 4px 00 black;
    text-decoration: none;
    color: black;

}


main {
    width: 100%;
}

#banner {

}
#section01 {
    border-bottom: 1px solid black;
    height: 1200px;
}

#section01 > #banner > img {
    width: 100%;

    /* background-color: aqua; */
}
#section01 > h1 {
    margin-top: 25px;
    padding: 0px 30px;
    font-size: 4em;
    font-weight: 900;
    line-height: 1em;
}
#section01 > h1 > span {
    font-weight: 900;
    color: #ED4D1B;
}

#section01 > p {
    margin-top: 35px;
    margin-bottom: 35px;
    padding: 0px 30px;
    font-size: 1.6em;
    font-weight: 500;
}
#section01 > a {
    font-size: 1.7em;
    margin-left: 35px;
    padding: 15px 30px;
}

#section01 > #arrow-curve {
    text-align: right;
    margin: 35px 40px 0px 0px;
}


#section02 {
    width: 100%;
    border-bottom: 1px solid black;
}

#artigos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1.5em;
    margin-top: -7em;
    margin-bottom: 8em;
    padding: 3em;
}

#section02 article {
    max-width: 272px;
    height: 306px;
    border: 2px solid black;
    box-shadow: 4px 4px black;
}
.card:nth-child(2n -1) {
    background-color: #ED4D1B;
}
.card:nth-child(2n) {
    align-self: end;
    background-color: #ff9a3c;
}



#section02 article img {
    width: 48px;
    padding: 30px 35px 0px;
}
#section02 article h3 {
    margin-top: 20px;
    font-size: 1.8em;
    font-weight: 800;
    padding: 0px 35px;

}
#section02 article p {
    font-size: 1em;
    font-weight: 500;
    padding: 20px 35px;
}

#section02 article  .arrow-rigth {
    display: block;
    text-align: right;
    margin-top: -15px;
    margin-right: -10px;
}




#section02 h2 {
    position: relative;
    top: -100px;
    text-align: center;
    font-size: 2.8em;
    font-weight: 900;
}
#section02 > h2 > span {
    margin-top: 0px;
    font-weight: 900;
    color: #EC4D1B;
}
#section02 > a {
    display: block;
    max-width: 60%;
    position: relative;
    top: -70px;
    text-align: center;
    padding: 15px 15px;
    margin: auto;
}

footer {
    padding: 20px;
}

footer p {
    margin: 20px 0px;
}


footer > nav > a {
    display: block;
    padding-left: 0px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}

form label {
    display: block;
    font-size: 1.3em;
    font-weight: 600;
}

footer form input {
    border: 2px solid black;
    box-shadow: 4px 4px 0 black;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.5em;
    padding: 5px;
    width: 90%;
}